# Problem Statement

A retail company operates multiple stores across different cities. The management wants to analyze sales performance, product demand, and the impact of discounts to make more informed business decisions. Currently, all sales data is stored in Excel sheets, making it difficult to track overall performance and identify trends.

Your task is to build an interactive Power BI Dashboard using the provided 300-line sales dataset to help management answer key business questions, optimize inventory, and improve revenue forecasting.

ðŸŽ¯ Business Questions That Your Dashboard Must Answer

1. Sales Performance Overview
What is the total sales revenue?
How many units were sold?
What is the average discount applied?

2. Store & City Performance

Which store generates the highest sales?
Which city performs the best?
Are there any low-performing stores/cities?

3. Category & Product Insights

Which product categories sell the most?
Which products are top performers?
Which products have the lowest sales or need promotions?

4. Discount Impact

Do higher discounts increase sales?
How much revenue is lost due to discounts?

5. Sales Trends Over Time
   
How do daily/weekly/monthly sales change?
Are there seasonal patterns or spikes?

In [1]:
# importing libarires
import numpy as np
import pandas as pd

In [5]:
#loding a file
file = r"C:\Users\tharu\Downloads\raw_sales_300_custom.xlsx"

In [7]:
print(file)

C:\Users\tharu\Downloads\raw_sales_300_custom.xlsx

In [9]:
df = pd.read_excel(file)

In [11]:
df.head()

,OrderID,OrderDate,Store,City,ProductCategory,Product,Quantity,UnitPrice,Discount
0,1001,2024-01-09,Store A,New York,Electronics,Laptop,2.0,796.46,0.05
1,1002,2024-02-11,Store B,Chicago,Electronics,Smartphone,3.0,543.35,NaN
2,1003,2024-01-10,NaN,Los Angeles,Clothing,T-Shirt,4.0,23.31,0.10
3,1004,2024-01-25,Store A,New York,Clothing,Jeans,3.0,NaN,0.15
4,1005,2024-01-13,Store C,Houston,Furniture,Chair,2.0,113.97,0.05

In [13]:
df.isnull()

,OrderID,OrderDate,Store,City,ProductCategory,Product,Quantity,UnitPrice,Discount
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,True
2,False,False,True,False,False,False,False,False,False
3,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
295,False,False,False,False,False,False,False,False,True
296,False,False,False,False,False,False,False,False,False
297,False,False,False,False,False,False,True,False,False
298,False,False,False,False,False,False,False,False,False
299,False,False,False,True,False,False,False,False,False

In [21]:
df.isnull().sum()

OrderID             0
OrderDate          15
Store              30
City               30
ProductCategory    15
Product            15
Quantity           30
UnitPrice          15
Discount           45
dtype: int64

In [29]:
df.dtypes

OrderID              int64
OrderDate           object
Store               object
City                object
ProductCategory     object
Product             object
Quantity           float64
UnitPrice          float64
Discount           float64
dtype: object

In [33]:
# Fill categorical columns (mode)
categorical_cols = ["Store", "City", "ProductCategory", "Product", "OrderDate"]

In [35]:
for i in categorical_cols:
    df[i] = df[i].fillna(df[i].mode()[0])

In [37]:
# filling the numerical columns
df["Quantity"] = df["Quantity"].fillna(df["Quantity"].mode()[0])
df["UnitPrice"] = df["UnitPrice"].fillna(df["UnitPrice"].median())
df["Discount"] = df["Discount"].fillna(df["Discount"].mode()[0])

In [39]:
df["OrderDate"] = pd.to_datetime(df["OrderDate"])

In [41]:
# Calculate Total Sales
df["TotalSales"] = df["Quantity"] * df["UnitPrice"] * (1 - df["Discount"])

In [43]:
df.to_excel("cleaned_sales_data.xlsx", index = False)

In [47]:
print("Null values successfully replaced")

Null values successfully replaced